#discord {
    background-image: url(./resources/icons/discord.svg);
    background-color: #5865F2;
    border: .5vmin solid #4752c4;
}
div {
    display: block;
}
.link {
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 2vmin;
    min-height: 2vmin;
    padding: 2vmin;
    border-radius: 0.5vmin;
    transition: filter .5s;
}
