:root {
    /* Base Color Rules */
    --gradientAccent: rgba(255, 0, 0, .5);
    /* Link Button Rules */
    --buttonColor: rgba(170, 0, 0, 1);
    --buttonHoverColor: rgba(170, 0, 0, .75);
    /* Property Rules */
    --selectionColor: rgba(100, 0, 0, .5);
}
 @font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
      @font-face {
  font-family: "omg";
  src: url(" ./just-learn-js/4iCv6KVjbNBYlgoCxCvjsGyN.woff2") format("woff2"),
  }
p {
  font-size: 150px;
}

.font1 {
  font-family: omg;
}

.font2 {
  font-family: ubuntu;
}

p { background: linear-gradient(
    45deg,
    rgba(32, 178, 7, 1) 100%,
    rgba(15, 37, 110, 1) 100%
  );
  background-blend-mode: normal;}
  body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./resources/tiles/grass.svg);
}


#discord {
    background-image: url(./resources/icons/discord.svg);
    background-color: #5865F2;
    border: .5vmin solid #4752c4;
}

element.style {
    display: block;
}

#mainMenu {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 2vmin;
    top: 2vmin;
    display: none;
}
.link {
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 2vmin;
    min-height: 2vmin;
    padding: 2vmin;
    border-radius: 0.5vmin;
    transition: filter .5s;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #505050;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

#scroll {
    background-image: url(./resources/icons/scroll.svg);
    background-color: #9bb56b;
    border: 0.5vmin solid #7e9357;
}

#changelog {
    position: absolute;
    top: 10vmin;
    left: -100vmin;
    max-width: 50vmin;
    max-height: 40vmin;
    overflow-wrap: break-word;
    overflow-y: scroll;
    background-color: #9bb56b;
    border: 0.5vmin solid #7e9357;
    padding: 1em;
    transition: left 1s;
    color: white;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    display: block;
}

#loading {
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48pt;
    font-weight: bold;
    cursor: default;
}

span {
    font-size: x-large;
    color: white;
}

script {
    display: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
background-image: url(./resources/tiles/dirt.svg);
}
.btn--orange:hover,
a.btn--orange:hover {
 background-image: url(./resources/tiles/ocean.svg);
}

a.btn--radius {
   border-radius: 100vh;
    }

}